/* ==========================================================================
   Component: Dropdown
   ========================================================================== */

.c-dropdown__trigger {
	display: inline-block;
}

.c-dropdown__menu {
	.c-menu__item {
		white-space: nowrap;
	}
}

.c-dropdown__content-closed {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.c-dropdown__content-open {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	z-index: 2;
}
