@import '../../styles/settings/colors';

.o-block-image {
	padding-top: 0;

	&.o-block-image__page-header-image {
		background-size: cover;
		background-position: center;
	}

	&.o-block-image__center {
		margin-left: auto;
		margin-right: auto;
	}

	&.o-block-image__right {
		margin-left: auto;
		margin-right: 0;
	}

	&.o-block-image__full-width {
		.a-block-image__annotation {
			padding: 10px 20px 0 20px;
		}
	}

	&.o-block-image__page-header {
		position: relative;

		.a-block-image__annotation {
			padding: 0 20px 10px 20px;
			position: absolute;
			top: calc(100% + 10px);
			left: 0;
		}
	}
}

.a-block-image__text {
	color: $color-gray-200;
}
