@import '../../styles/settings/colors';

/* Block type: hero image
   ========================================================================== */

.o-container-vertical {
	&.o-container-vertical-image {
		padding-top: 0;
	}
}

.a-block-image-text {
	color: $color-gray-200;
}

.o-image-block-width-full-width {
	width: 100%;
}

.o-image-block-width-500px {
	width: 500px;
}

.o-image-block-width-400px {
	width: 400px;
}
