@import '../../styles/settings/colors';

.o-container-vertical {
	&.o-block-image {
		padding-top: 0;
	}

	&.o-block-image__page-header-image {
		background-size: cover;
		background-position: center;
	}

	&.o-block-image__center {
		margin-left: auto;
		margin-right: auto;
	}

	&.o-block-image__right {
		margin-left: auto;
		margin-right: 0;
	}
}

.a-block-image__text {
	color: $color-gray-200;
}
