@use '../../styles/settings/colors' as colors;

/* ==========================================================================
   Blankslate
   ========================================================================== */

.c-blankslate {
  background-color: colors.$color-gray-50;
  border-radius: 0.3rem;
  padding: 4.8rem;
  text-align: center;

  // Additional styles for common content
  > .c-h3 {
	margin: 0;
  }

  > .c-h4 {
	margin-bottom: 0.8rem;
  }

  > .c-body-1 {
	margin: 0 auto;
	max-width: 65rem;
  }

  > .o-svg-icon {
	opacity: 0.5;
  }
}

.c-blankslate__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.6rem;
  height: 9.6rem;
  background-color: colors.$color-teal-bright-200;
  border-radius: 50%;
  margin: 0 auto;

  svg {
	color: colors.$color-teal-bright;
  }
}

.c-blankslate--spacious {
  padding: 9.6rem 4.8rem;
  text-align: center;
}
