@use '../../styles/settings/colors' as colors;

/* ==========================================================================
  Component: Badge
  ---
  A badge. Use to display textual information in a different way than just text.
   ========================================================================== */

/* Mixins
   ========================================================================== */

@mixin badge-variant($background-color, $text-color, $border-color) {
	background-color: $background-color;
	color: $text-color;
	border: 1px solid $border-color;
}

/* Component
   ========================================================================== */

.c-badge {
	border-radius: 0.3rem;
	padding: 0.2rem 0.5rem;
	display: inline-block;
	font-size: 1.4rem;
}

.c-badge--default {
	@include badge-variant(#FFF, colors.$color-gray-400, colors.$color-gray-200);
}

.c-badge--success {
	@include badge-variant(colors.$color-success, #FFF, colors.$color-success);
}

.c-badge--error {
	@include badge-variant(colors.$color-error, #FFF, colors.$color-error);
}
