@import '../../styles/settings/colors';

/* ==========================================================================
   Component: Tag list
   ========================================================================== */

.c-tag-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.4rem;

	li {
		margin: 0.4rem;
	}
}

.c-tag {
	background-color: #fff;
	border: 1px solid $color-gray-150;
	border-radius: 2.4rem;
	padding: 0.3rem 1.6rem;
	display: flex;
	align-items: center;
	color: $color-gray-700;
	text-decoration: none;

	// Label
	&.c-tag__label {
		white-space: nowrap;
		flex: 1 1 100%;
	}

	&.c-tag__active {
		background-color: $color-teal-bright;
		color: white;
	}
}

.c-tag--simple {
	display: inline-block;
}

.c-tag > :global(.c-label-swatch) {
	margin-left: -0.8rem;
}

.c-tag > a { // Close button
	border-radius: 100%;
	background-color: $color-gray-200;
	color: #FFF;
	text-align: center;
	border: none;
	width: 1.8rem;
	height: 1.8rem;
	line-height: 1.8rem;
	position: relative;
	left: 0.8rem;

	:global(.o-svg-icon) {
		margin: 0 auto;
		display: block;
		width: 1.8rem;
		height: 1.8rem;
		line-height: 1.8rem;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: $color-error;
		text-decoration: none;
		color: #FFF;
		box-shadow: 0 0 0 2px #FFF;
	}
}
