.husky
.idea
.storybook
node_modules
openshift
scripts
src
.dcignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.huskyrc
.lintstagedrc
.npmignore
.npmrc
.nvmrc
.snyk
.svgrrc.js
commitlint.config.js
docker-compose.yml
Dockerfile
Dockerfile.dev
Jenkinsfile
jest.config.js
prettier.config.js
tsconfig.json
typings.d.ts
vite.config.mts
!dist/
