@use "../../styles/settings/colors";

/* ==========================================================================
   Component: Thumbnail
   ========================================================================== */

.c-thumbnail-16-9-small {
	width: 16rem;
	height: 9rem;
}

/* Regular thumbnail
   ========================================================================== */

.c-thumbnail {
	position: relative;
	border-radius: 0.3rem;
	width: 100%;
	padding-top: calc(100% * 9 / 16);
	height: auto;
}

.c-thumbnail-placeholder,
.c-thumbnail-image,
.c-thumbnail-meta {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.3rem;
	overflow: hidden;
}

.c-thumbnail-placeholder {
	display: flex;
	background-color: colors.$color-gray-100;
}

.c-thumbnail-placeholder .o-svg-icon {
	margin: auto;
	width: 2rem;
	height: 2rem;
	color: colors.$color-gray-300;
}

.c-thumbnail-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Media thumbnails
   ========================================================================== */

.c-thumbnail-meta .c-media-card-thumb__category {
	background-color: colors.$color-gray-150;
	color: colors.$color-gray-400;
}

.c-thumbnail-meta--img-is-loaded {
	.c-thumbnail-media__category,
	.c-thumbnail-media__meta {
		color: #fff;
		background-color: rgb(0 0 0 / 60%);
	}
}

.c-thumbnail-media--video .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-yellow;
}

.c-thumbnail-media--audio .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-teal-bright;
}

.c-thumbnail-media--collection .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-ocean-green;
}

.c-thumbnail-media--bundle .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-tapestry;
}

.c-thumbnail-media--assignment .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-french-rose;
}

.c-thumbnail-media--contentPage .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-green;
}

.c-thumbnail-media--contentPage.c-thumbnail-media--event_detail .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-dark-orange;
}

.c-thumbnail-media--contentPage.c-thumbnail-media--screencast .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: colors.$color-soft-blue;
}

// hide the type label on narrow screens so it doesn't collide with the label on the right
.o-container--medium .c-block-media-list .c-thumbnail-media__category {
	.o-svg-icon:not(:last-child) {
		margin-right: 0;
	}

	p {
		display: none;
	}
}

.c-thumbnail-media__category {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	color: colors.$color-gray-700;
	background-color: colors.$color-gray-200;
	padding: 0.4rem 0.8rem;
	height: 2.8rem;
	border-radius: 0 0.3rem;

	.o-svg-icon:not(:last-child) {
		margin-right: 0.8rem;
	}
}

.c-thumbnail-media__meta {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.2rem;
	color: colors.$color-gray-700;
	background-color: colors.$color-gray-200;
	padding: 0.4rem 0.8rem;
	height: 2.8rem;
	border-radius: 0.3rem 0;
}

.c-thumbnail-media__top-right {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.2rem;
	color: colors.$color-gray-700;
	background-color: colors.$color-gray-200;
	padding: 0.4rem 0.8rem;
	height: 2.8rem;
	border-radius: 0.3rem 0;

	a {
		color: colors.$color-gray-700;
		text-decoration: none !important;
	}
}

/* Media thumbnails small
   ========================================================================== */

.c-thumbnail-media__category--small {
	.o-svg-icon {
		margin: 0;
	}
}
