/* ==========================================================================
  Colors
 ========================================================================== */

/* Grays
 ========================================================================== */

$color-gray-1000: #000000;
$color-gray-900: #0F171D;
$color-gray-800: #1D2B35;
$color-gray-700: #2B414F;
$color-gray-600: #385265;
$color-gray-500: #45647B;
$color-gray-400: #557891;
$color-gray-300: #7894A7;
$color-gray-200: #9CAFBD;
$color-gray-150: #BAC7D1;
$color-gray-100: #D6DEE3;
$color-gray-50: #EDEFF2;

/* Primary colors
 ========================================================================== */

$color-night-blue: #3A586F;
$color-dark-night-blue: #182F42;
$color-teal-bright: #25A4CF;
$color-teal: #1D637A;
$color-teal-dark: #124455;

/* Secondary colors
 ========================================================================== */

$color-error-200: #EE8176;
$color-green: #46D46E;
$color-blue: #4D76F3;
$color-soft-blue: #7CAACF;

/* Secondary colors
   ========================================================================== */

$color-ocean-green: #57C2A0;
$color-silver: #DBDBDB;
$color-tapestry: #B75B99;
$color-wine-red: #98485C;
$color-night-blue: #3A586F;
$color-yellow: #F3AA2E;
$color-green: #9DB410;
$color-dark-orange: #D03F06;
$color-soft-blue: #8AC1CE;
$color-french-rose: #F33F67;

/* Semantic mapping
 ========================================================================== */

$color-primary: $color-teal-bright;
$color-success: #57C2A0;
$color-error: #DA3F34;

/* Filter alert message colors
 ========================================================================== */

$color-alert-background: #FFFFCC;
$color-alert-accent: #E9E994;

/* To refactor
   ========================================================================== */

$color-teal-bright-200: #CFE3E9;






/* ==========================================================================
   Component: Thumbnail
   ========================================================================== */

.c-thumbnail-16-9-small {
	width: 16rem;
	height: 9rem;
}

/* Regular thumbnail
   ========================================================================== */

.c-thumbnail {
	position: relative;
	border-radius: 0.3rem;
	width: 100%;
	padding-top: calc(100% * 9 / 16);
	height: auto;
}

.c-thumbnail-placeholder,
.c-thumbnail-image,
.c-thumbnail-meta {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.3rem;
	overflow: hidden;
}

.c-thumbnail-placeholder {
	display: flex;
	background-color: $color-gray-100;
}

.c-thumbnail-placeholder .o-svg-icon {
	margin: auto;
	width: 2rem;
	height: 2rem;
	color: $color-gray-300;
}

.c-thumbnail-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Media thumbnails
   ========================================================================== */

.c-thumbnail-meta .c-media-card-thumb__category{
	background: $color-gray-150;
	color: $color-gray-400;
}

.c-thumbnail-meta--img-is-loaded {
	.c-thumbnail-media__category,
	.c-thumbnail-media__meta {
		color: #fff;
		background: rgba(0, 0, 0, 0.6);
	}
}

.c-thumbnail-media--collection .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: $color-ocean-green;
}

.c-thumbnail-media--video .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: $color-yellow;
}

.c-thumbnail-media--audio .c-thumbnail-meta--img-is-loaded .c-thumbnail-media__category .o-svg-icon {
	color: $color-teal-bright;
}

.c-thumbnail-media__category {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	color: $color-gray-700;
	background: $color-gray-200;
	padding: 0.4rem 0.8rem;
	height: 2.8rem;
	border-radius: 0 0.3rem 0 0.3rem;

	.o-svg-icon {
		margin-right: .8rem;
	}
}

.c-thumbnail-media__meta {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 1.2rem;
	color: $color-gray-700;
	background: $color-gray-200;
	padding: 0.4rem 0.8rem;
	height: 2.8rem;
	border-radius: 0.3rem 0rem 0.3rem 0rem;
}


/* Media thumbnails small
   ========================================================================== */

.c-thumbnail-media__category--small {
	.o-svg-icon {
		margin: 0;
	}
}
