@use '../../styles/settings/colors' as colors;
@use '../../styles/settings/variables' as variables;

$component: 'c-pill';

$pill-border-radius: 8px;
$pill-transition: 0.3s ease-in-out;

.#{$component} {
	border-radius: $pill-border-radius;
	border: 1px solid colors.$color-gray-200;
	color: colors.$color-gray-200;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: $pill-border-radius * 2;
	overflow: hidden;
	padding: 0 $pill-border-radius;
	transition: color $pill-transition, border-color $pill-transition, background-color $pill-transition;

	&--active {
		background-color: colors.$color-teal-bright;
		border-color: colors.$color-teal-bright;
		color: colors.$color-white;
	}
}
