@use '../../styles/settings/colors' as colors;

/* ==========================================================================
   Utility: Color
   ========================================================================== */
.u-color-gray-700 {
	color: colors.$color-gray-700 !important;
}

.u-color-white {
	color: #FFF !important;
}

.u-color-gray-150 {
	color: colors.$color-gray-150 !important;
}

.u-color-ocean-green {
	color: colors.$color-ocean-green !important;
}

.u-color-french-rose {
	color: colors.$color-french-rose !important;
}
