/* ==========================================================================
   Utility: Color
   ========================================================================== */
.u-color-gray-700 {
	color: $color-gray-700 !important;
}

.u-color-white {
	color: #FFF !important;
}

.u-color-gray-150 {
	color: $color-gray-150 !important;
}
