@import '../../styles/settings/colors';

.trumbowyg-disabled .trumbowyg-editor {
	background: #D6DEE3;
}

.trumbowyg-editor {
	max-height: 350px;

	strong {
		// Fixes strange bug in Chrome where the wysiwyg wouldn't clear bold styling
		font-weight: 600;
	}

	ol, ul {
		padding-left: 20px;
	}

	ul {
		list-style: disc;
	}

	ol {
		list-style: decimal;
	}
}

.c-content table td {
	border: 1px solid #D6DEE3;
}

.trumbowyg-box, .trumbowyg-editor {
	margin: 0;
}


// Modifiers

.trumbowyg-fullscreen {
	.trumbowyg-editor {
		max-height: 100vh;
	}
}

.trumbowyg-modal {
	max-width: 553px !important;
}

.trumbowyg-modal-box {
	max-width: 533px !important;
}

.trumbowyg-modal-box label:nth-child(4) {
	height: 60px !important;
}

.trumbowyg-modal-box label:nth-child(4) input {
	height: 52px !important;
}

.trumbowyg-modal-box label {
	margin: 5px 12px !important;
}

.trumbowyg-modal-box label .trumbowyg-input-infos span {
	width: 180px;
}

.trumbowyg-button-pane {
	z-index: 0;
}


.trumbowyg-dropdown-table table {
	tr {
		padding: 0;
		margin: 0;
		line-height: 0;

		&:last-child td {
			border-bottom-width: 1px;
		}
	}

	td {
		margin: 0;
		border: 1px solid #cecece;
		border-right-width: 0;
		border-bottom-width: 0;
		box-shadow: none;


		&:last-child {
				border-right-width: 1px;
		}

		&.active {
			background-color: $color-teal-bright;
		}
	}
}

.trumbowyg-dropdown button {
	height: 34px;
}
