/* ==========================================================================
   Stylesheet for VIAA
   ITCSS + BEM
   ---
   This SCSS code is inspired by BEM (Block Element Modifier) and ITCSS (Inverted Triangle CSS) methodologies.
   For BEM Please refer to http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
   For ITCSS Please refer to https://speakerdeck.com/dafed/managing-css-projects-with-itcss
   ========================================================================== */

/* Settings: preprocessor variables, colors, global settings
   ========================================================================== */

@use './settings/index';

/* Generic: CSS reset, box-sizing, global CSS tweaks
   ========================================================================== */

@use './generic/reset';

/* Elements: element selectors, CMS-generated content
   ========================================================================== */

@use './elements/base';

/* Components: separately styled components (buttons, form inputs, toolbars...)
   ========================================================================== */

@use './components/index';

/* Utilities: specific helper classes, overrides
   ========================================================================== */

@use './utilities/index';

/* Trumps
   ========================================================================== */

@use './trumps/mq-debug';
