@import '../../styles/settings/colors';

.c-select {
	&.c-select--is-disabled {
		.c-select__control {
			background: $color-gray-100;
		}
	}

	.c-select__value-container {
		padding: 0 6px;
	}

	.c-select__control {
		border-radius: 0.3rem;
		background: #fff;
		box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.1);
		border: 1px solid $color-gray-150;
		font-size: inherit;
		min-height: 3.6rem;
		width: 100%;
		appearance: none;
		transition: all 0.15s ease-in-out;

		&:hover {
			border: 1px solid $color-gray-150;
		}

		&.c-select__control--is-focused {
			outline: 0;
			border-color: $color-border-color;
			box-shadow: inset 0 0 0 0.1rem $color-border-color, 0 0 0.5rem $color-input-box-shadow;
		}
	}
}

