@use '../../styles/settings/colors' as colors;
@use '../../styles/settings/variables' as variables;

.c-select {
	.c-select__menu {
		z-index: 22;
	}

	&.c-select--is-disabled {
		.c-select__control {
			background-color: colors.$color-gray-100;
		}
	}

	.c-select__value-container {
		padding: 0 6px;
	}

	.c-select__control {
		border-radius: variables.$c-input-border-radius;
		background-color: variables.$c-input-bg-color;
		box-shadow: inset 0 0 0.3rem rgb(0 0 0 / 10%);
		border: 1px solid variables.$c-input-border-color;
		font-size: inherit;
		min-height: 3.6rem;
		width: 100%;
		appearance: none;
		transition: all 0.15s ease-in-out;

		&:hover {
			border: 1px solid variables.$c-input-border-color;
		}

		&.c-select__control--is-focused {
			outline: 0;
			border-color: colors.$color-border-color;
			box-shadow: inset 0 0 0 0.1rem colors.$color-border-color, 0 0 0.5rem colors.$color-input-box-shadow;
		}
	}

	.c-select__option--is-selected {
		background-color: colors.$color-gray-200;
	}
}

