@use '../../styles/settings/colors' as colors;
@use '../../styles/settings/variables' as variables;
@use '../../styles/utilities/color' as color;

.c-heading {
	&.c-h1,
	&.c-h2,
	&.c-h3,
	&.c-h4 {
		margin: 0; // Default to 0, but allow user of the heading block to override margins by using extra css specificity
	}
}

.c-cta-item {
	margin-bottom: 3.2rem;
	background-color: colors.$color-gray-50;
}

.c-cta__content {
	padding: 3.2rem;

	@extend .u-color-gray-700;
}

@media (min-width: variables.$g-bp2) {
	.c-cta {
		display: flex;
	}

	.c-cta-item {
		width: 50%;
	}

	.c-cta-item + .c-cta-item {
		margin-left: 3.2rem;
	}
}
