/* ==========================================================================
   Component: Video wrapper
   ========================================================================== */

.c-aspect-ratio-wrapper {
	position: relative;
	padding-bottom: 43%;
	height: 0;
}

.c-aspect-ratio-wrapper--aspect-3-2 {
	padding-bottom: 66.67%; /* 3:2 */
}

.c-aspect-ratio-wrapper--aspect-16-9 {
	padding-bottom: 56.25%; /* 16:9 */
}
