@import '../../styles/settings/colors';

/* ==========================================================================
   Object: SVG Icon
   ---
   Styling for auto-embedded SVG icons
   ========================================================================== */

/* Object
   ========================================================================== */

.o-svg-icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: middle;

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	&:not([class*="multicolor"]) svg * {
		fill: currentColor;
	}
}


.o-svg-icon[class*="o-svg-icon-narrow-"] {
	width: 1rem;
	height: 2rem;
}

.o-svg-icon--large {
	width: 3.2rem;
	height: 3.2rem;
}

.o-svg-icon--huge {
	width: 4.8rem;
	height: 4.8rem;
}

.o-svg-icon--small {
	width: 1.6rem;
	height: 1.6rem;
}

/* Color Variations
   ========================================================================== */

.o-svg-icon--green {
	color: $color-success;
}

.o-svg-icon--red {
	color: $color-error;
}

.o-svg-icon--white {
	color: white;
}

.o-svg-icon--subtle {
	color: $color-gray-400;
}
