@import '../../styles/settings/colors';
@import '../../styles/settings/variables';

/* ==========================================================================
   Component: Modal
   ---
   Modal windows
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-modal-padding-horizontal: 2.4rem !default;
$c-modal-padding-vertical: 2.4rem !default;
$c-modal-border-radius: 0.3rem !default;
$c-modal-shadow-color: $color-gray-900 !default;

$c-modal-header-bg-color: #FFF !default;
$c-modal-footer-bg-color: #FFF !default;
$c-modal-header-border-color: $color-gray-100 !default;
$c-modal-footer-border-color: $color-gray-100 !default;

$g-c-modal-backdrop-z: 30 !default;
$g-c-modal-context-z: 40 !default;
$g-c-modal-z: 50 !default;


/* Component
   ========================================================================== */

.c-modal-context {
	display: flex;
	height: 100%;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	transition: visibility 0s linear 0.2s, opacity 0.2s linear, transform 0.2s ease-in-out;
	visibility: hidden;
	pointer-events: none;
	width: 100%;
	z-index: $g-c-modal-context-z;

	&.c-modal-context--visible {
		opacity: 1;
		transition-delay: 0s;
		visibility: visible;
		pointer-events: auto;
	}
}

.c-modal {
	background-color: #FFF;
	display: flex;
	position: relative;
	flex-direction: column;
	width: calc(100% - 8rem);
	z-index: $g-c-modal-z;

	/* Sizes
   ========================================================================== */

	&.c-modal--extra-large {
		width: 140rem;
	}

	&.c-modal--large {
		width: 88rem;
	}

	&.c-modal--medium {
		width: 66rem;
	}

	&.c-modal--small {
		width: 44rem;
	}

	&.c-modal--fullscreen {
		height: calc(100% - #{$c-modal-padding-vertical * 2});
		max-height: none;
		max-width: none;
		width: calc(100% - #{$c-modal-padding-horizontal * 2});
	}

	&.c-modal--fullwidth {
		max-width: 66rem;
		width: calc(100% - #{$c-modal-padding-horizontal * 2});
	}

	&.c-modal--height-auto {
		height: auto;
	}

	&.c-modal--scrollable {
		max-height: calc(100% - #{$c-modal-padding-vertical * 2});
	}

	&:not(.c-modal--scrollable) {
		overflow: visible;

		.c-modal__body {
			overflow: visible;
		}
	}

	@media (min-width: $g-bp2) {
		box-shadow: 0 0 1.6rem rgba($c-modal-shadow-color, 0.25),
		0 0 2.4rem rgba($c-modal-shadow-color, 0.15),
		0 0 3.2rem rgba($c-modal-shadow-color, 0.05);
		border-radius: $c-modal-border-radius;
		margin: auto;
	}
}

// higher specificity than specific classes for sizes
.c-modal-context {
	.c-modal {

		@media (max-width: $g-bp2) {
			&,
			&.c-modal--fullscreen,
			&.c-modal--scrollable {
				width: 100vw;
				max-width: 100vw;
				height: calc(100% - 40px);
				max-height: calc(100% - 40px);
			}
		}
	}
}

.c-modal__body {
	flex: 1 1 auto;
	overflow: auto;
	padding: $c-modal-padding-vertical $c-modal-padding-horizontal;
}

.c-modal__body--no-vert-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.c-modal__body--no-padding {
	padding: 0;
}

.c-modal__header {
	background-color: $c-modal-header-bg-color;
	border-radius: $c-modal-border-radius $c-modal-border-radius 0 0;

	.c-toolbar {
		min-height: $g-bar-size-regular;
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
	}

	.c-toolbar__left {
		flex-shrink: 1;
	}
}

.c-modal__header--bg-alt {
	background-color: $color-gray-50;
}

.c-modal__header--bordered {
	border-bottom: 1px solid $c-modal-header-border-color;
}

.c-modal__title {
	font-size: 1.6rem;
	font-weight: $g-headings-font-weight;
}

.c-modal__header--no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.c-modal__footer {
	background-color: $c-modal-footer-bg-color;
	border-radius: 0 0 $c-modal-border-radius $c-modal-border-radius;
}

.c-modal__footer--bordered {
	border-top: 1px solid $c-modal-footer-border-color;
}

.c-modal__footer--bg-alt {
	background-color: $color-gray-50;
}

.c-modal__content {
	flex: 1 1 auto;
	overflow: auto;
	padding: $c-modal-padding-vertical $c-modal-padding-horizontal;
}

/* Backdrop
   ========================================================================== */

.c-modal-backdrop {
	background-color: rgba($c-modal-shadow-color, 0.4);
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: visibility 0s linear 0.2s, opacity 0.2s linear;
	left: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: $g-c-modal-backdrop-z;

	&.c-modal-backdrop--visible {
		opacity: 1;
		transition-delay: 0s;
		visibility: visible;
		pointer-events: auto;
	}
}

