@use 'sass:math';
@use '../../styles/settings/colors' as colors;
@use '../../styles/settings/variables' as variables;

$c-sticky-edge-bar-border-radius: 4px;

.c-sticky-edge-bar {
	position: sticky;
	padding: (math.div(variables.$g-spacer-unit, 1rem) * 2px * 10) (math.div(variables.$g-spacer-unit, 1rem) * 3px * 10);

	&--position--bottom {
		bottom: 0;
		border-top-left-radius: $c-sticky-edge-bar-border-radius;
		border-top-right-radius: $c-sticky-edge-bar-border-radius;
	}

	&--position--top {
		top: 0;
		border-bottom-left-radius: $c-sticky-edge-bar-border-radius;
		border-bottom-right-radius: $c-sticky-edge-bar-border-radius;
	}

	&--color--teal-bright {
		color: #fff;
		background-color: colors.$color-teal-bright;
	}
}
