@use "sass:math";
@use '../../styles/settings/colors' as colors;
@use '../../styles/settings/variables' as variables;

$component: 'c-deadline-indicator';
$c-deadline-indicator-size: math.div(variables.$g-spacer-unit, 1rem) * 10px;

.#{$component} {
    width: $c-deadline-indicator-size;
    height: $c-deadline-indicator-size;

    &--error {
        background-color: colors.$color-error;
    }

    &--yellow {
        background-color: colors.$color-yellow;
    }

    &--success {
        background-color: colors.$color-success;
    }

    &--diamond {
        transform: rotateZ(45deg);
        transform-origin: center;
    }

    &--circle {
        border-radius: math.div($c-deadline-indicator-size, 2);
    }
}
