@use "sass:math";

@import '../../styles/settings/colors';
@import '../../styles/settings/variables';

$component: 'c-deadline-indicator';

$c-deadline-indicator-size: math.div($g-spacer-unit, 1rem) * 10px;

.#{$component} {
    width: $c-deadline-indicator-size;
    height: $c-deadline-indicator-size;

    &--error {
        background-color: $color-error;
    }

    &--yellow {
        background-color: $color-yellow;
    }

    &--success {
        background-color: $color-success;
    }

    &--diamond {
        transform: rotateZ(45deg);
        transform-origin: center;
    }

    &--circle {
        border-radius: math.div($c-deadline-indicator-size, 2);
    }
}