.react-datepicker,
.react-datepicker__current-month {
	font-size: 11.2px;
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__time-name {
	margin: 2.3px;
	width: 23px;
	line-height:23.8px
}
