.react-datepicker,
.react-datepicker__current-month {
	font-size: 11.2px;
}

.react-datepicker__day,
.react-datepicker__day-name {
	margin: 2.3px;
	width: 23px;
	line-height: 23.8px
}

.c-datepicker {
	display: flex;

	&--date .c-input {
		border-radius: 4px 0 0 4px;
	}

	&--time .c-input {
		border-left: 0;
		border-radius: 0 4px 4px 0;
	}
}
