/* ==========================================================================
   Component: Meta data
   ========================================================================== */

.c-meta-data {
	display: flex;
	align-items: center;
}

.c-meta-data--spaced-out {
	.c-meta-data__item {
		margin-right: 1.6rem;
	}
}
