/* ==========================================================================
   Component: Toolbar item
   ========================================================================== */

.c-toolbar__item {
	position: relative;
}

.c-toolbar__item--grow {
	flex: 1;
}
