@import '../../styles/settings/colors';

.c-block-buttons__divider {
	width: 0.1rem;
	height: 3.2rem;
	background: $color-gray-150;
	margin: 0;
}

.c-block-buttons {
	flex-wrap: wrap;

	> .c-block-buttons__divider + * {
		margin-left: 0;
	}
}

.c-block-buttons__dividers {
	.c-button {
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	}
}

.c-button__tooltip {
	max-width: 200px;
}
