@use "../../styles/settings/colors";

/* ==========================================================================
   Component: Tooltip
   ---
   Tooltips
   ========================================================================== */

.c-tooltip-trigger {
	cursor: default;
	display: inline-block;
}

.c-tooltip {
	position: absolute;
	background-color: colors.$color-gray-50;
	border: 1px solid colors.$color-gray-400;
	border-radius: 0.3rem;
	max-width: 48rem;
	display: inline-block;
	opacity: 0;
	padding: 0.8rem;
	color: black;
	font-size: 1.2rem;
	line-height: 1.428; // 20px equivalent
	transition: opacity 0.2s ease-in-out, visibility 0.2s linear 0.2s;
	user-select: none;
	visibility: hidden;
	pointer-events: none;
	z-index: 75;

	.c-tooltip__arrow,
	.c-tooltip__arrow::before {
		position: absolute;
		width: 8px;
		height: 8px;
		z-index: -1;
	}

	.c-tooltip__arrow::before {
		content: "";
		transform: rotate(45deg);
		background-color: colors.$color-gray-50;
		border: 1px solid colors.$color-gray-400;
	}

	&[data-popper-placement^="top"] > .c-tooltip__arrow {
		bottom: -4px;
		left: 50%;
		transform: translate(-8px, 0);
		clip-path: inset(4px 20px 20px 0);
	}

	&[data-popper-placement^="bottom"] > .c-tooltip__arrow {
		top: -4px;
		left: 50%;
		transform: translate(-8px, 0);
		clip-path: inset(-3px, 20px, 4px, 0);
	}

	&[data-popper-placement^="left"] > .c-tooltip__arrow {
		right: 0;
		top: 50%;
		transform: translate(0, -4px);
		clip-path: inset(-5px, 20px, 17px, 8px);
	}

	&[data-popper-placement^="right"] > .c-tooltip__arrow {
		left: -4px;
		top: 50%;
		transform: translate(0, -4px);
		clip-path: inset(-2px, 4px, 20px, 0);
	}
}

.c-tooltip--show {
	opacity: 1;
	transition-delay: 0s;
	visibility: visible;
	pointer-events: initial;
}

.c-tooltip__meta {
	font-size: 1.3rem;
	text-transform: uppercase;
	color: rgb(255 255 255 / 60%);
}
