@use '../../styles/settings/colors' as colors;

/* ==========================================================================
   Component: Toggle
   ---
   A mobile style on/off switch
   ========================================================================== */

$toggle-transition: 0.08s ease-in-out;

.c-toggle {
	display: block;
	height: 2.4rem;
	position: relative;
	width: 4.2rem;

	.c-toggle__back {
		background-color: colors.$color-gray-300;
		border-radius: 1.2rem;
		inset: 0;
		box-shadow: inset 0 0 0 0.1rem rgb(0 0 0 / 20%);
		pointer-events: none;
		position: absolute;
		transition: background-color $toggle-transition;
	}

	.c-toggle__knob {
		background-color: #fff;
		box-shadow: 0 0.1rem 0.2rem 0 rgb(0 0 0 / 20%);
		border-radius: 100%;
		content: '';
		height: 1.8rem;
		left: 0.3rem;
		pointer-events: none;
		position: absolute;
		top: 0.3rem;
		transition: transform $toggle-transition;
		width: 1.8rem;

		&::after {
			color: rgba(#fff, 0.7);
			font-size: 0.8rem;
			font-weight: 600;
			left: 100%;
			line-height: 1;
			position: absolute;
			top: 0.2rem;
			text-align: center;
			text-transform: uppercase;
			width: 1.4rem;
		}

		&__checkmark {
			color: transparent;
			position: absolute;
			inset: 50% auto auto 50%;
			transform: translate(-50%, -50%);
			transition: color $toggle-transition;
		}
	}

	input[type='checkbox'] {
		appearance: none;
		cursor: pointer;
		left: 0;
		height: 100%;
		margin: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;

		&:focus ~ .c-toggle__knob {
			box-shadow: 0 0 0 0.5rem rgb(0 0 0 / 10%);
		}

		&:checked ~ .c-toggle__knob {
			transform: translateX(1.8rem);

			&::after {
				left: auto;
				right: 100%;
			}

			.c-toggle__knob__checkmark {
				color: colors.$color-primary;
			}
		}

		&:checked ~ .c-toggle__back {
			background-color: colors.$color-primary;
		}

		&:disabled {
			cursor: not-allowed;
		}

		&:disabled ~ .c-toggle__knob {
			opacity: 0.5;

			&::after {
				content: '';
			}
		}

		&:disabled ~ .c-toggle__back {
			background-color: colors.$color-gray-200;
			box-shadow: inset 0 0 0 0.1rem rgb(0 0 0 / 10%);
		}
	}
}
