@use '../../styles/settings/colors' as colors;

/* ==========================================================================
  Component: c-box
   ========================================================================== */

.c-box {
	padding: 3.2rem;
	background-color: colors.$color-gray-50;
	border-radius: 0.3rem;
}

.c-box--white {
	background-color: #FFF;
}

.c-box--soft-white {
	background-color: rgba(#FFF, 0.5);
}

.c-box--dark {
	background-color: colors.$color-dark-night-blue;
}

.c-box--padding-small {
	padding: 1.6rem;
}
