@import '../../styles/settings/colors';

/* ==========================================================================
  Component: c-box
   ========================================================================== */

.c-box {
	padding: 3.2rem;
	background: $color-gray-50;
	border-radius: 0.3rem;
}

.c-box--white {
	background: #FFF;
}

.c-box--soft-white {
	background: rgba(#FFF, 0.5);
}

.c-box--dark {
	background: $color-dark-night-blue;
}

.c-box--padding-small {
	padding: 1.6rem;
}
