@use '../../styles/settings/colors' as colors;

.c-image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	h3 {
		font-size: 20px;
	}

	img {
		display: block;
	}

	.c-image-grid__item {
		margin: 1rem;
	}

	&.c-image-grid-selectable {
		.c-image-grid__item {
			&.c-image-grid__item-selected,
			&:hover {
				outline: 0.5rem solid colors.$color-border-color;
			}
		}
	}
}
