@use '../../styles/settings/colors' as colors;

.c-input-range {
	display: flex;
	align-items: center;

	> div:first-child {
		flex-grow: 1;
		margin-right: 20px;
	}

	> .c-input {
		width: 60px;
	}

	[role="slider"]:focus {
		outline: 0;

		&::before {
			border-color: colors.$color-border-color;
			box-shadow: inset 0 0 0 0.1rem colors.$color-border-color, 0 0 0.5rem #69c2df;
			border-radius: 50%;
		}
	}

	[role="slider"]::before {
		content: "";
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		border: 1px solid grey;
		box-sizing: border-box;
		left: 10px;
		top: 10px;
		border-radius: 50%;
		background: rgb(250 250 250) linear-gradient(to bottom, rgb(250 250 250 / 100%) 0%, rgb(244 244 244 / 100%) 49%, rgb(240 240 240 / 100%) 51%, rgb(254 254 254 / 100%) 100%);
	}

	&.c-input-range__disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
