@use '../../../styles/settings/colors' as colors;
@use '../../../styles/settings/variables' as variables;

/* ==========================================================================
   Component: Tab item
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-tabs-item-color: colors.$color-gray-300 !default;
$c-tabs-item-active-color: colors.$color-teal-bright !default;
$c-tabs-item-border-color: colors.$color-primary !default;
$c-tabs-item-hover-border-color: colors.$color-gray-200 !default;

$c-tabs-item-dark-color: colors.$color-gray-100 !default;
$c-tabs-item-dark-active-color: #fff !default;
$c-tabs-item-dark-border-color: #fff !default;
$c-tabs-item-dark-hover-border-color: colors.$color-gray-25 !default;

/* Component
   ========================================================================== */

.c-tab-item {
	color: $c-tabs-item-color;
	font-weight: 500;
	transition: color 0.3s ease-in-out;
	padding: 1.2rem 1.7rem;

	&:first-child {
		padding: 1.2rem 1.7rem 1.2rem 1.2rem;
	}

	&.c-tab-item__dark {
		color: $c-tabs-item-dark-color;
		text-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
	}

	display: flex;
	align-items: center;
	text-decoration: none;

	.o-svg-icon {
		margin-right: 1rem;
		width: 1.8rem;
		height: 1.8rem;
	}

	// label wrapper
	& > span {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;

		.c-pill {
			align-self: center;
			margin-left: 0.8rem;
		}
	}

	&:hover {
		color: $c-tabs-item-active-color;

		.c-pill:not(.c-pill--active) {
			color: $c-tabs-item-active-color;
			border-color: $c-tabs-item-active-color;
		}

		&.c-tab-item__dark {
			color: $c-tabs-item-dark-active-color;

			.c-pill:not(.c-pill--active) {
				color: $c-tabs-item-dark-active-color;
				border-color: $c-tabs-item-dark-active-color;
			}
		}
	}

	&:focus {
		color: $c-tabs-item-active-color;

		&.c-tab-item__dark {
			color: $c-tabs-item-dark-active-color;
		}
	}

	&.c-tab-item__active {
		box-shadow: inset 0 -0.2rem 0 $c-tabs-item-border-color;
		margin-bottom: -0.1rem;
		color: $c-tabs-item-active-color;
		font-weight: variables.$g-headings-font-weight;
		position: relative; // makes box-shadow to be on top of the global border
		z-index: variables.$g-c-tabs-z;

		&.c-tab-item__dark {
			color: $c-tabs-item-dark-active-color;
			box-shadow: inset 0 -0.2rem 0 $c-tabs-item-dark-border-color;
			text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
		}
	}

	&-length {
		font-weight: 400;
		margin-left: 0.4rem;
	}
}
